* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}
.main-nav {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.dropdown-hover {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  width: 140px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  left: -4vw;
  top: 25px;
}
.dropdown-hover:hover .dropdown-content {
  display: block;
}
.dropdown-content .drop-link {
  display: block;
  color: white;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content .drop-link:hover {
  color: #211f44;
  background-color: white;
}
header {
  width: 100%;
  padding: 4vw 0;
}
#logo {
  width: 50%;
}
.title-heading {
  display: none;
}

#welcome {
  padding: 5vw;
}

.intro-blurb,
.cta {
  margin-bottom: 5vw;
}

.rev-section {
  padding: 5vw;
  width: 100%;
  box-sizing: border-box;
}

.rev-section h2 {
  margin-bottom: 2vw;
}

.rev-list {
  list-style: none;
  padding: 0;
}

.rev-card {
  width: 100%;
  margin: 30px 0;
  position: relative;
  padding: 20px 0;
  background: #221e5085;
  color: #fffb00;
}

.rev-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
